$purple: #835afd;
$purpleLight: #b29bf8;
$hoverPurple: #6f4bd8;
$greyMedium: #a8a8b3;
$greyText: #737380;
$greyLight: #dbdcdd;
$white: #fff;
$black: #000;
$red: #ea4335;
$hoverRed: #cf3527;
$lightRed: #f1b6b1;
$pink: #e559f9;
$danger: #e73f5d;
$hoverDanger: #c22340;
$yellow: rgb(253, 255, 160);
$yellowDark: rgb(106, 107, 44);
