@import "../../constants/styles.scss";

.home__page {
  display: flex;
  width: 100%;
  height: 100%;

  > .left-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    background-color: $purple;
    flex: 6;

    > img {
      width: 16rem;
      margin: 0.5rem 8rem 0.5rem 4rem;
    }

    > h1 {
      color: $white;
      font-size: 42px;
      margin: 0.5rem 8rem 0.5rem 4rem;
    }

    > p {
      color: $greyMedium;
      font-size: 20px;
      margin: 0.5rem 8rem 8rem 4rem;
    }
  }

  > .right-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 7;

    > .form-container {
      display: flex;
      flex-direction: column;
      width: 20rem;
      align-items: center;

      > img {
        margin-bottom: 3rem;
      }

      > .separator {
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 2rem 0 2rem 0;
        color: $greyMedium;
        width: 100%;

        &::before {
          content: " ";
          height: 1px;
          background-color: $greyMedium;
          margin-right: 1rem;
          flex: 1;
        }

        &::after {
          content: " ";
          height: 1px;
          background-color: $greyMedium;
          margin-left: 1rem;
          flex: 1;
        }
      }

      > form {
        width: 100%;

        > .form-control {
          margin-bottom: 1rem;
        }
      }
    }
  }
}
