@import "../../constants/styles.scss";

.modal {
  display: none;
  position: absolute;
  background-color: rgba(0, 0, 0, 0.75);
  width: 100%;
  height: 100%;

  &.show {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  > .form {
    display: flex;
    background-color: $white;
    padding: 2rem;
    width: 35rem;
    border-radius: 0.5rem;
    justify-content: center;
    flex-direction: column;

    > img {
      width: 4rem;
      align-self: center;
      margin-top: 2rem;
      margin-bottom: 2rem;
    }

    > h1,
    > p {
      text-align: center;
      margin-bottom: 1rem;
    }

    p {
      color: $greyText;
      margin-bottom: 2rem;
    }

    > div {
      display: flex;
      justify-content: center;

      > .button__component:first-child {
        margin-right: 1rem;
      }
    }
  }
}

.room-view-admin__page {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;

  > header {
    display: flex;
    padding: 0.75rem 12rem;
    border-bottom: 1px solid $greyLight;
    justify-content: space-between;
    align-items: center;

    > img {
      width: 6rem;
    }

    > .left-menu {
      display: flex;
      flex-direction: row;
    }
  }

  > section {
    display: flex;
    padding: 0 25rem;
    flex-direction: column;
    background-color: $greyLight;
    flex: 1;

    > h1 {
      display: flex;
      margin-top: 4rem;
      margin-bottom: 2rem;
      align-items: center;
    }

    > h1 > .badge {
      background-color: $pink;
      color: $white;
      font-size: 12px;
      padding: 0.25rem 0.75rem;
      border-radius: 1rem;
      margin-left: 0.25rem;
      font-weight: normal;
    }

    > .content {
      flex: 1;

      > .empty-container {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 100%;
        width: 100%;

        > div {
          display: flex;
          align-items: center;
          flex-direction: column;

          > img {
            width: 10rem;
          }

          > h1 {
            margin-top: 2rem;
          }

          > p {
            margin-top: 1rem;
            color: $greyText;
            text-align: center;
          }
        }
      }
    }
  }
}
